doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div 
            h1 hola mundo
            h2 mi Primera pagina con Pug
            div
                p Este es mi primer parrafo
                