doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div 
            form(action="/login" method="POST")
                label(for="username") Usuario:
                input(type="text" name="username" id="username" required)
                br
                label(for="password") Contraseña:
                input(id="password" type="password" name="password")
                br
                button(type="submit") Ingresar