<!DOCTYPE html>
<html lang="es">

<head th:replace="~{fragmentos/general.html :: headfiles}">
</head>

<body>
    <div>
        <nav th:replace="~{fragmentos/general.html :: navegacion}"></nav>
        <div class="container">
            <h2>Tienda Virtual de Camisetas</h2>
            <h4>Acceso denegado</h4>
            <p>Ha intentado acceder a una página que requiere login</p>
        </div>

        <footer th:replace="~{fragmentos/general.html :: footer}"></footer>
    </div>
</body>
</html>